#brightness{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position: absolute;
	height: 180px;
	width: 130px;
	left: 485px;
	border-width: 8px;
	opacity: 0;

}

#brightness_slider{
	position: absolute;
	left: 550px;
}

#brightness_container{
	position: absolute;
	top: 500px;
	height: 130px;
	width: 615px;
	background: linear-gradient(to right, #000000 11%,#ffffff 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	opacity: 1;
}

body{
	margin-left: 0;
	margin-top: 0;
	-webkit-user-select: none;
}

#gradient_canvas{
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1;
	opacity: 0;
}

#draw_canvas{
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 3;
}

#gradient_img{
	position: fixed;
	top: 0%;
	left: 0%;
	opacity: .7;
	z-index: 2;
}